.login_box {
    border: 3px solid navy ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center
  } 
.login_padding {
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
  text-align: center;
}
div#banner { 
  position: absolute; 
  top: 0; 
  left: 0; 
  background-color: #DDEEEE; 
  width: 100%; 
}
div#banner-content { 
  width: 800px; 
  margin: 0; 
  padding: 20px; 
}
div#main-content { 
  padding-top: 80px;
}